h1 {
  color: orange;
  background-color: slategrey;
  font-size: 20px;
  text-decoration: underline;
  font-family: arial;
  text-align: center;
}
p {
  color: slategrey;
  text-align: right;
  line-height: 30px;
  letter-spacing: 3px;
  column-count: 2;
  column-gap: 60px;
}
ul {
/*   border-width: 4px;
  border-style: solid;
  border-color: crimson; */
/*   border: 4px solid crimson; */
  border-bottom: 4px dotted crimson;
  border-left: 8px dashed crimson;
  
}
li {
  list-style-type: none;
  text-shadow: 2px 2px lightgray;
}
body {
  background-image: url("background.jpeg");
}
.class-1 {
  text-decoration: line-through;
}
.class-2 {
  text-shadow: 4px 4px #ff0000;
}
#The-Third {
  transform: rotate(180deg);
}
th {
  font-style: italic;
}
td{
  font-style: oblique;
}
#I-love-New-York {
  Font-family: serif;
}
#My-favorite-song-is-champagne-coast {
  Font-family: sans-serif;
}
#My-favorite-subject-is-Math {
  Font-family: cursive;
}
#I-love-spending-time-with-my-family {
  Font-family: monospace;  
}
#I-have-more-energy-at-night {
  Font-family: fantasy;
}
